[MASTER]
ignore=setup.py,tests

[MESSAGES CONTROL]
disable=
    too-few-public-methods,
    too-many-arguments,
    too-many-return-statements,
    wildcard-import,
    unused-wildcard-import,
    import-self,
    missing-module-docstring,
    broad-exception-caught,
    super-init-not-called,
    no-name-in-module

max-line-length=88
